# Example .env file
# You should replace these values and rename this file .env
MARIADB_ROOT_PASSWORD=rootpassword
MARIADB_USER=tatou
MARIADB_PASSWORD=tatou
FLAG_2=my_flag2
SECRET_KEY=
RMAP_DOCUMENT_ID=
RMAP_WATERMARK_KEY=
